.site-content{
  background-color: #2F4F4F;
}
.site-banner{
  background-color: #264040;
  align-content: center;
  text-align: center;
}
.banner-text{
  text-align: center;
  align-content: center;
  font-size: 36px;
  color: white;
}
.menu{
    text-align: center;
    align-content: center;
    background-color: #264040;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    color: #fff;
    clear: both;
    display: block;
    width: 100%;
    margin-bottom: : 20px;
}
.menu-item{
  color: :white;
  float: none;
  font-size: 24px
  text-align: center;
  align-content: center;
    display: inline-block;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: : 10px;
}
.menu-link{
  color: white;
  font-size: 24px;
  text-decoration: none;
}
.menu-link:hover{
  color:white;
  text-decoration: underline;
}
.topteams-heading{
  color: white;
  text-align: center;
  align-items: center;
  text-decoration: underline;
}
.topteams{
  float:right;
  text-align: center;
  align-items: center;
  color: white;
  background-color: 264040;
  width:60%;
  border: 4px solid black;
  margin-right: 50px;
}
.team-list{
  font-size: 24px;
  color: white;
  font-weight: normal;
}
.elo-plot{
  float:left;
  text-align: center;
  align-items: center;
  color: white;
}
.text-box{
  margin-right: 100px;
  margin-left: 100px;
  color:white;
  background-color: #264040;
  border: 4px solid black;
}
.text-content{
  margin-right: 50px;
  margin-left: 50px;
  font-size: 18px;
}
