<html>
  <header>
      <title>football.elo</title>
      <meta charset="utf-8" />
       {% load static %}
      <link rel="stylesheet" href="{% static "home.css" %}" type="text/css">
  </header>

  <body class="site-content">
    <div class="site-banner">
      <img style="float:left;margin:10px;width: 20%;"src="static/field.png">
      <h3 class="banner-text">Football Club Elo</h3>
      <ul class="menu">
        <li class="menu-item"><a class='menu-link' href='/Home'>Home</a></li>
        <li class="menu-item"><a class='menu-link' href='/Api'>API</a></li>
        <li class="menu-item"><a class='menu-link' href='/About'>About</a></li>
      <ul>
    </div>

    {% block content %}{% endblock %}

  </body>

</html>
